@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

html {
  scroll-behavior: smooth;
}

body {
  /* background: url(https://sjl-portfolio-images.s3-us-west-1.amazonaws.com/doc-dashboard/61802.jpg); */
  background: #dfdfdf;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  margin: 0;
  font-family: "Josefin Sans", cursive;
}

#root-container {
  display: flex;
}

.main {
  display: flex;
  width: fit-content;
}

.doc-list-name {
  font-weight: bold;
  font-size: 1rem;
}

.loader {
  margin: auto;
}

/* SIDE MENU */
.menu {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 165px;
  height: 100vh;
  background-color: #4da6cc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 0 10px 10px 0;
  color: white;
}

.categories {
  display: block;
}

.category {
  padding: 1rem 0.5rem;
}

#selected {
  border: 3px solid black;
}

/* DOCTORS LIST */
#doctors-list-container {
  display: flex;
  flex-direction: column;
}

.input-container {
  margin: 1.5rem auto 0 auto;
  display: flex;
  flex-direction: row;
}

.inner-input-container {
  width: 450px;
  display: inline-flex;
  justify-content: space-between;
}

#input-bar {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 7px;
  text-indent: 6px;
  width: 180px;
}

#select-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-labels {
  font-size: 12px;
}

#input-button {
}

#input-button:hover {

}

#input-button:active {

}

.list-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.3rem;
  justify-content: center;
}

.doc-description-container {
  display: flex;
  flex-direction: column;
}
.doctor-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 24em;
  /* height: 18rem; */
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 2rem;
  font-size: 0.75rem;
}

.doctor-card:hover {
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px #4da6cc;
  -moz-box-shadow: 0px 0px 15px 0px #4da6cc;
  box-shadow: 0px 0px 15px 0px #4da6cc;
  transition-timing-function: ease-in;
  transition-duration: 0.3s;
}

.titleText {
  display: inline;
  text-align: center;
}

.doctor-photo {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 1.5rem;
}

.doc-list-specialties {
  display: flex;
  flex-direction: column;
}

.specialty-name {
    margin: 0.2rem 0 0.4rem .3rem;
}

.doc-list-specialty {
  display: flex;
}

/* DOCTOR PROFILE MODAL*/

.selected-doc-container {
  margin-bottom: 2rem;
  text-align: left;
  display: flex;
}

.styles_modalCenter__L9F2w {
  border-radius: 5%;
}

.selected-doc-des-container {
  display: flex;
  justify-content: center;
}

.selected-doctor-photo {
  border-radius: 50%;
  object-fit: cover;
  width: 140px;
  height: 140px;
  margin-right: 2rem;
  border: 5px solid #4da6cc;
  padding: 5px;
  background-clip: content-box;
  background-color: #4da6cc;
}

.doc-profile-txt {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: .3rem;
}

.selected-doc-des {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.doc-specialty {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-style: italic
}

.styles_overlay__CLSq- {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.doc-details{
    margin: .3rem 0;
    display: flex;
}

.doc-details-txt{
    margin-left: .6rem;
}

.modal-info-container {
  padding: 2.5rem;
}

.selected-doc-location {
  text-align: left;
  display: flex; 
}

/* SIMILAR DOCTORS LIST */
.similar-docs-container {
  flex-direction: column;
  display: flex;
  margin-top: .5rem;
}

.similar-doc-img {
  margin: 0 1rem;
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.similar-docs {
    margin: .1rem 0;
}
